.footer {
    background: #f7f7f7;
    color: #808080;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;
    border-top: 1px solid #e0e0e0;
    a {
        color: #80CBC4;
        line-height: 36px;
        padding: 0 20px;
        font-size: 12px;
        a {
            color: #80CBC4;
            cursor: pointer;
        }
    }
}
