$height__main-toolbar: 64px;

:host {
	display: block;
}

.brand-toolbar {
  height: $height__main-toolbar;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  padding: 0 16px;
  width: 100%;
}

.logo-img{
  width: 96px;
  height: $height__main-toolbar;
  line-height: $height__main-toolbar;

  >img{
    width: 100%;
  }
}