:host {
  display: block;
  height: calc(100% - 64px);
  background-color: #3c4252;
  color: rgba(255, 255, 255, 0.87);
}

.navigation-header{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  color: #FFF;
  position: relative;

  >.avatar{
    cursor: pointer;

    >img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

}

.navigation-header.integrated{
  height: 140px;
  background: url('./../../../assets/images/background/navigation-header-bg.png') no-repeat top center;
  background-size: cover;

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: rgba($color: #000000, $alpha: .5);
  }
  >div{
    z-index: 2;
    margin-top: 39px;
  }

  >.avatar{
    margin-right: 19px;
    margin-left: 30px;
  }

  >.info{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    >.nickname{
      font-size: 14px;
      margin-bottom: 10px;
    }
    >.account{
      font-size: 12px;
    }
  }
}

.navigation-header.abbreviated{
  height: 90px;
  background: #FFF;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;

  &::before,
  >.info{
    display: none;
  }

  >.avatar{
    margin: 0 auto;
  }
}

.navigation-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 140px);
}

.navigation-scrollbar-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
